<html>

<section id="about">
    <div class="header">
        <p>About Me!</p>
    </div>
</section>

<section id = "about_text">
    <div class="body">
        <p>This is all about me! I am a Junior majoring in Computer Science and
            minoring in Computer Information Systems. My favorite hobbies include
            skiing, playing video games, hiking, being involved in my community,
            and traveling. I hope to graduate in the Spring of 2024 with a B.S. 
            Degree but I am unsure how I would like to use it yet. I am currently
            looking into having internships next spring but it is still a long time
            away but I am still stressing. 
        </p>
    </div>
</section>

</html>

